@media only screen 
  and (min-device-width: 992px)  {

  .nav-item, .nav-item2{
    visibility: hidden;
  }

  #navbarNavDropdown{
    margin-right: 50px;
    flex-grow: 0;
  }

  #btn-minus, #btn-plus{
    margin-left: 20vw;
    margin-right: 20vw;
  }
}