@media only screen 
  and (min-device-width: 320px)  {
    body{
        background-image: $backgroundColor;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    main{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav-link{
      color: white;

      &:hover{
        color: white;
        filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
      }
    }

    .nav-link.active{
      color: white !important;
    }

    #bienvenidaUsuario{
      display: flex;
      text-align: center;
      justify-content: center;
      max-width: 50%;
      padding: 5px;
      margin: 0px auto;
      margin-top: 50px;
      color: $textColor;
      border: 2px solid $secondaryColor;
      border-radius: 5px;
      box-shadow: -9px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
    }
    
    .bienvenida{
      font-size: 1.5rem;
      margin-bottom: -2px;
    }

    #balanceUsuario{
      display: flex;
      text-align: center;
      justify-content: center;
      align-self: center;
      color: green;
      font-size: 1.5rem;
      height: 100%;
      width: 40%;
      border: 2px solid $secondaryColor;
      border-radius: 5px;
      box-shadow: -9px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
      transform: translate(5px, -35vh);

      &.greenBalance{
        color: green;
      }
  
      &.redBalance{
        color: red;
      }
    }

    .navbar, .footer{
      box-shadow: -5px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
    }

    .navbar-brand{
      color: white; 
      
      &:visited{
        color: white;
      }

      &:active{
        color: white;
      }

      &:hover{
        color: white;
        filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
      }
    }

    #buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 50px;
    }

    .button{
      border: none;
      background: none;
      cursor: pointer;
      height: 50px;
      width: 50px;
      top: 10vh;

      & i{
        color: $secondaryColor;
        filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.75));

        &:hover{
          filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
        }
      }
    }

    .btn-grad {
      background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }
   
    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }

    .textoBalance{
      font-size: 2rem;
    }

    .donutChar{
      margin: -10px 0px;
    }
  }

