@media only screen 
  and (min-device-width: 320px)  {
    body{
        background-image: $backgroundColor;
        height: 100vh;
        width: 100vw;
    }

    main{
      display: flex;
      gap: 5vh;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav-link{
      color: white;
    }

    .nav-link.active{
      color: white !important;
    }

    #bienvenidaUsuario{
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 5px;
      margin: 15px 15px 0;
      color: $textColor;
      border: 2px solid $secondaryColor;
      border-radius: 5px;
      box-shadow: -9px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
    }

    #gastosUsuario{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 10px;
      margin: auto;
      height: 300px;
      width: 300px;
      background-color: $secondaryColor;
      color: $textColor;
      font-size: 1rem;
      box-shadow: -5px 11px 5px 0px rgba(0,0,0,0.75);
      border-radius: 100%;
      gap: 2px;
    }

    .gastos{
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
      border-radius: 10px;
      padding: 3px;
    }

    #balanceUsuario{
      display: flex;
      text-align: center;
      justify-content: center;
      align-self: center;
      max-width: 70%;
      color: $textColor;
      font-size: 1.5rem;
      border: 2px solid $secondaryColor;
      border-radius: 5px;
      box-shadow: -9px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
    }

    .navbar, .footer{
      box-shadow: -5px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
    }

    .navbar-brand{
      color: $textColor;
    }

    #buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 50px;
    }

    .button{
      border: none;
      background: none;
      cursor: pointer;
      height: 50px;
      width: 50px;
      top: 10vh;

      & i{
        color: $secondaryColor;
        filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.75));

        &:hover{
          filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
        }
      }
    }
  }

