@media only screen 
  and (min-device-width: 500px)  {

    .bienvenida{
      font-size: 2rem;
    }

    .navbar, .footer{
      box-shadow: -5px 11px 5px 0px rgba(0,0,0,0.75);
      background-color: $secondaryColor;
    }

    .navbar-brand{
      color: $textColor;
    }
  }

